# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# uv
.python-version

# Docker
*.log

# IDE
.vscode/

# Testing
.pytest_cache/

# Bruno rest files
BRUNO/

# Environment variables files
.env